// -------------------------- //
// Clearfix ----------------- //
// -------------------------- //

.clear{
  clear: both;
  display: block;
  line-height: 0;
  height: 0;
  font-size: 0;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

/* ************************ */
/* ********* Base ********* */
/* ************************ */

body {
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
}

section {
  padding: 4rem 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #2e4453;
  margin-bottom: 0;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
  color: #2e4453;
  margin-bottom: 0;
}

p {
  font-size: 1.5rem;
  margin-top: 3.375rem;
  color: #4f748e;
  margin-bottom: 0;
}

a {
  display: inline-block;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #12A3D0;
}

a:hover,
a:focus,
a:active {
  color: #282e35;
}

@media screen and (max-width: 63.9375em) {

  body {
    overflow: auto;
    position: relative;
  }

  section {
    padding: 2.5rem 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.625rem;
  }

  p {
    font-size: 1.25rem;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 56.25em) {
  section {
    padding: 2rem 0;
  }

  h1 {
    font-size: 1.625rem;
  }

  h2 {
    font-size: 1.375rem;
  }

  p {
    font-size: 1.125rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 39.9375em) {

  section {
    padding: 1.875rem 0;
  }

  h1 {
    font-size: 1.375rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 29.9375em) {

  section {
    padding: 1.875rem 0;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
    margin-top: 1rem;
  }
}


/* ************************ */
/* ******** Themes ******** */
/* ************************ */

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 2;
}

.button {
    border-radius: 500px;
    font-weight: 600;
    color: #fff;
    background-color: #39bfe8;
    line-height: 2.5;
    font-size: 1.125em;
    max-width: 9.444em;
    width: 100%;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

.button:focus,
.button:hover,
.button:active {
  color: #fff;
  background-color: #282e35;
}

.owl-carousel .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #39bfe8;
  background-color: transparent;
  margin: .125em;
  -webkit-transition: background-color .25s ease;
  -o-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.owl-item a {
  display: block;
}

.owl-item a:focus,
.owl-item a:active {
  outline:none;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: #39bfe8;
}

.owl-carousel .owl-dots .owl-dot:focus,
.owl-carousel .owl-dots .owl-dot:active {
  outline: 0;
}

.owl-carousel .owl-nav button.owl-next > svg,
.owl-carousel .owl-nav button.owl-prev > svg {
  font-size: 32px;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  opacity: .7;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.owl-carousel .owl-nav button.owl-next:hover svg,
.owl-carousel .owl-nav button.owl-prev:hover svg {
  opacity: 1;
}

.owl-dots,
.owl-nav {
  text-align: center;
}

.owl-dots {
  margin-top: -10px;
  position: relative;
  z-index: 6;
}

.owl-carousel .owl-stage{
  display:table;
}

.owl-carousel .owl-item{
  float:none;
  display:table-cell;
  vertical-align:middle;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.list li {
  font-size: 1.125rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  padding-left: 3.125rem;
  position: relative;
}

.list li span{
  font-weight:600;
}

.list li:before {
  content: '';
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="%23a8bece" d="M16 0c-8.842 0-16 7.158-16 16s7.158 16 16 16 16-7.158 16-16-7.158-16-16-16zM16 30.316c-7.916 0-14.316-6.4-14.316-14.316s6.4-14.316 14.316-14.316 14.316 6.4 14.316 14.316-6.4 14.316-14.316 14.316zM25.642 10.568c-0.337-0.337-0.842-0.337-1.179 0l-10.737 10.779-4.505-4.505c-0.337-0.337-0.884-0.337-1.179 0-0.337 0.337-0.337 0.884 0 1.179l5.095 5.095c0.168 0.168 0.379 0.253 0.589 0.253s0.421-0.084 0.589-0.253l11.326-11.368c0.337-0.337 0.337-0.842 0-1.179z"></path></svg>');
  font-size: 1.875rem;
  margin-right: 1.25rem;
  width: 1em;
  height: 1em;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 9px;
}

.white {
  color: #fff;
}

.is-visible {
  display: block;
}

.hidden {
  overflow: hidden;
}

@media screen and (max-width: 74.9375em) {
  .list li {
    width: 100%;
    margin-left: 0;
  }

  .list:not(.offers__list) li:last-child {
    left: 0;
    float: left;
  }
}

@media screen and (max-width: 63.9375em) {

  .list li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 56.25em) {
  .button {
    font-size: 1rem;
  }

  .list li {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

@media screen and (max-width: 39.9375em) {

  .list li {
    padding: 0;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    padding-left: 2.5rem;
  }

  .list li:before {
    top: 3px;
  }
}

@media screen and (max-width: 29.9375em) {

 .section .button {
   margin-top: .875rem;
 }
}

/* ************************ */
/* ******* Animation ****** */
/* ************************ */
@media screen and (min-width: 64em) and (min-height: 43.8125em) {
  .animate {
    position: relative;
    opacity: 0;
    display: none;
  }

  .animate__left {
    left: -15%;
  }

  .animate__right {
    right: -15%;
  }
}
/* ************************ */
/* ******** Header ******** */
/* ************************ */


.header {
  width: 100%;
  position: relative;
}

.top-bar__site-logo,
.top-bar__site-logo + .top-bar__menu {
  display: inline-block;
}

.top-bar__site-logo {
  padding: 0 .9375rem;
  line-height: 60px;
}

.menu {
  line-height: 0;
}

.menu__items {
  line-height: inherit;
}

.menu-item {
  display: inline-block;
}

.menu-item a{
  display: inline-block;
  line-height: 35px;
  opacity: 1;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu-item a:hover {
  opacity: .7;
}

.menu-item > a {
  padding: 0 .9375rem;
  color: inherit;
}

.menu--main .menu-item > a {
  padding: 0 4rem;
}

.head {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.head__caption,
.head__button {
  margin-top: 4.375rem;
}

.head__caption {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.head__caption > span {
  display: block;
}

.bottom-list {
  background-color: rgba(255,255,255,.5);
}

.bottom-list__items {
  font-size: 1.5rem;
  padding: .78125rem 0;
  display: table;
  width: 100%;
}

.bottom-list-item {
  line-height: 1.4;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.bottom-list-item:not(:last-child):after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #969696;
}

.top-bar__top {
  background-color: #ECECEB;
  font-size: 14px;
  text-align: right;
}

.top-bar__top .menu a{
  line-height: 35px;
}

.top-bar__bottom {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  -moz-box-shadow: 0 4px 8px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.2);
}

.top-bar__bottom .menu a {
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.top-bar__bottom .menu__items {
  display: inline-block;
}

.top-bar__bottom .menu-item{
  float: left;
}

.top-bar__bottom .menu:not(.social-media) .menu-item a:hover {
  opacity: 1;
  color: #fff;
  background-color: #3ABFE8;
}

.top-bar__top .menu-item a:hover,
.top-bar__bottom .menu.social-media .menu-item a:hover,
.top-bar__bottom .menu.menu--mobile .menu-item a:hover {
  opacity: 1;
  color: #3ABFE8;
  background-color: transparent;
}

.top-bar__bottom .menu--mobile a {
  line-height: 35px;
}

.menu--mobile > ul > li {
  display: block;
  width: 100%;
}

.menu--mobile > ul > li > ul {
  margin: 0;
}

.menu--mobile {
  overflow: auto;
  height: 100%;
  padding: .5rem;
  /*padding-bottom: 5rem;*/
}

.menu--mobile > ul > ul {
  margin: 0;
  margin-top: 35px;
  display: inline-block;
}

@media screen and (max-width: 74.9375em) {
  .menu--main .menu-item > a {
    padding: 0 2rem;
  }

  .head__logo {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 63.9375em) {
  .menu--main .menu-item > a {
    padding: 0 .9375rem;
  }

  .head__caption,
  .head__button {
    margin-top: 2.5rem;
  }

  .head__caption {
    font-size: 1.25rem;
  }

  .bottom-list__items {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 56.25em) {
  .head__caption,
  .head__button {
    margin-top: 2rem;
  }

  .bottom-list__items {
    font-size: 1rem;
  }

  .menu-item > a {
    padding: 0 .625rem;
  }
}

@media screen and (max-width: 44.9375em) {

  .menu-item {
    display: block;
  }

  .w100 {
    width: 100%;
  }

  .top-bar__site-logo {
    padding: 0;
  }

  .top-bar__site-logo + .mobile-menu {
    display: none;
  }

  .top-bar__hamburger + .mobile-menu {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    z-index: 3;
    height: 100vh;
    overflow: hidden;
  }

  .hide-for-all {
    display: none;
  }
}

@media screen and (min-width: 45em) {

  .show-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 75em) and (min-height: 43.125em), screen and (min-width: 64em) and (min-height: 43.125em) {

  .bottom-list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .head {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    /*margin-top: -45px;*/
  }
}

@media screen and (max-width: 39.9375em) {

  .bottom-list__items {
    padding: 0;
  }

  .bottom-list-item {
    float: left;
    padding: .78125rem;
  }

  .bottom-list-item:not(:last-child):after {
    content: none;
  }

  .head__caption,
  .head__button {
    margin-top: 1.875rem;
  }

  .head__caption {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 29.9375em) {

  .header {
    background-position-x: center;
  }

  .head__caption,
  .head__button {
    margin-top: 1.875rem;
  }

  .head__caption {
    font-size: 1.125rem;
  }
}

/* ************************ */
/* ****** Mobile menu ***** */
/* ************************ */

.top-bar__hamburger {
  float: right;
  position: relative;
  z-index: 3;
}

.button-hamburger {
  padding: .625em;
  cursor: pointer;
  line-height: 40px;
}

.icon-hamburger {
  background-color: #282E35;
  display: inline-block;
  width: 30px;
  height: 3px;
  position: relative;
  vertical-align: middle;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
  border-radius: 10px;
}

.icon-hamburger:before,
.icon-hamburger:after {
  content:'';
  background-color: #282E35;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  -webkit-transition-delay: .15s, 0s, 0s;
       -o-transition-delay: .15s, 0s, 0s;
          transition-delay: .15s, 0s, 0s;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  border-radius: 10px;
}

.icon-hamburger:before {
  top: 10px;
  -webkit-transition-property: top, -webkit-transform-origin, -webkit-transform;
  transition-property: top, -webkit-transform-origin, -webkit-transform;
  -o-transition-property: top, transform-origin, transform;
  transition-property: top, transform-origin, transform;
  transition-property: top, transform-origin, transform, -webkit-transform-origin, -ms-transform-origin, -webkit-transform;
}

.icon-hamburger:after {
  bottom: 10px;
  -webkit-transition-property: bottom, -webkit-transform-origin, -webkit-transform;
  transition-property: bottom, -webkit-transform-origin, -webkit-transform;
  -o-transition-property: bottom, transform-origin, transform;
  transition-property: bottom, transform-origin, transform;
  transition-property: bottom, transform-origin, transform, -webkit-transform-origin, -ms-transform-origin, -webkit-transform;
}


.button-hamburger.is-active > .icon-hamburger {
  background-color: transparent;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.button-hamburger.is-active > .icon-hamburger:before {
  top: 0;
  -webkit-transform-origin: 15px 1px;
      -ms-transform-origin: 15px 1px;
          transform-origin: 15px 1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 0s, .15s, .2s;
       -o-transition-delay: 0s, .15s, .2s;
          transition-delay: 0s, .15s, .2s;
  background-color: #fff;
}

.button-hamburger.is-active >  .icon-hamburger:after {
  bottom: 0;
  -webkit-transform-origin: 15px 1px;
      -ms-transform-origin: 15px 1px;
          transform-origin: 15px 1px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0s, .15s, .2s;
       -o-transition-delay: 0s, .15s, .2s;
          transition-delay: 0s, .15s, .2s;
  background-color: #fff;
}


/* ************************ */
/* ******** Content ******* */
/* ************************ */

.left-column {
  background-color:#eee;
  padding: 1.875rem 1.25rem;
}

.img-container.owl-carousel {
  padding-top: 2rem;
}

.img-container > img {
  display: inline-block;
  vertical-align: middle;
}

.link-back {
  font-size: 1.125rem;
  font-weight: 600;
  color: #12a3d0;
}

.link-back svg {
  font-size: 1.875rem;
  margin-right: 1.25rem;
  display: inline-block;
}

.link-back > * {
  display: inline-block;
  vertical-align: middle;
}

.left-column__body {
  padding: 5rem 0;
}

.left-column__body .list {
  padding-top: 1.25rem;
}

.left-column__footer .button,
.button-group .button{
  font-size: 1.5rem;
}

.main-content > * {
  padding-top: 3rem;
  margin: 0;
}

.main-content h1 {
  padding-top: 0;
  text-align: center;
}

.button-group a {
  margin: .625rem 2.1875rem;
}


@media screen and (max-width: 63.9375em) {

  section,
  .left-column__body {
    padding: 2.5rem 0;
  }

  .main-content > *,
  .main-content {
    padding-top: 2.5rem;
  }

  .left-column__footer .button,
  .button-group .button{
    font-size: 1.375rem;
  }

}

@media screen and (max-width: 56.25em) {
  section,
  .left-column__body {
    padding: 2rem 0;
  }

  .main-content > *,
  .main-content {
    padding-top: 2rem;
  }

  .left-column__footer .button,
  .button-group .button {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 39.9375em) {

  section,
  .left-column__body {
    padding: 1.875rem 0;
  }

  .left-column {
    padding: .9375rem .625rem;
  }

  .main-content > *,
  .main-content {
    padding-top: 1.875rem;
  }

  .left-column__footer .button,
  .button-group .button,
  .link-back {
    font-size: 1.125rem;
  }
}
